// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

  $block-name:                &; // #{$block-name}__

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  padding: 0;
  list-style: none;

  &__link-wrap {
    margin-right: 10px;
  }

  &__link {
    display: block;
    padding: 0px;
    width:25px;
    height:25px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 0.3s linear;

  
    // #{$block-name}__link-wrap--vk & {
    //   background-color: $color-vk;
    // }

    // #{$block-name}__link-wrap--tw & {
    //   background-color: $color-tw;
    // }

    // #{$block-name}__link-wrap--gh & {
    //   background-color: $color-gh;
    // }

    svg {
      display: block;
      width: 18px;
      height: 18px;
      fill: #272C3E;
    }
    &:hover {
      background-color: #92278F;

      & svg {
        fill: #ffffff
      }
    }
    &:focus, &:active {
      background-color: #6F196C;
      & svg {
        fill: #ffffff
      }
    }
  }

  &__text {
    @include hide-text;
  }
}
