-
  var mainMenu = [
    {
      "id": "0",
      "name": "О компании",
      "url": "/",
            "childs": [
        {
          "id": "0-0",
          "name": "Знакомство с компанией",
          "url": "/"
        },
        {
          "id": "0-10",
          "name": "География услуг",
          "url": "/",
        },
        {
          "id": "0-20",
          "name": "Наш опыт",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Рейтинги, награды",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Новости",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Карьера",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Обращение управляющего партнера",
          "url": "/"
        },
      ]
    },
    {
      "id": "10",
      "name": "Услуги",
      "url": "/pages",
    },
    {
      "id": "20",
      "name": "База знаний",
      "url": "https://github.com/nicothin/NTH-start-project"
    },
    {
      "id": "30",
      "name": "Мероприятия",
      "url": "https://nicothin.pro/contact"
    },
        {
      "id": "40",
      "name": "Контакты",
      "url": "https://nicothin.pro/contact"
    },
  ];
