-
  var mainMenu = [
    {
      "id": "0",
      "name": "О компании",
      "url": "/",
            "childs": [
        {
          "id": "0-0",
          "name": "Знакомство с компанией",
          "url": "/"
        },
        {
          "id": "0-10",
          "name": "География услуг",
          "url": "/",
        },
        {
          "id": "0-20",
          "name": "Наш опыт",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Рейтинги, награды",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Новости",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Карьера",
          "url": "/"
        },
        {
          "id": "0-30",
          "name": "Обращение управляющего партнера",
          "url": "/"
        },
      ]
    },
    {
      "id": "10",
      "name": "Услуги",
      "url": "/pages",
    },
        {
      "id": "20",
      "name": "Команда",
      "url": "/pages",
    },
    {
      "id": "30",
      "name": "База знаний",
      "url": "/",
       "childs": [
        {
          "id": "30-0",
          "name": "Обзоры",
          "url": "/"
        },
        {
          "id": "30-2",
          "name": "Алерты",
          "url": "/"
        },
        {
          "id": "30-3",
          "name": "Статьи и комментарии",
          "url": "/"
        },
        {
          "id": "30-4",
          "name": "Видео",
          "url": "/"
        },
        {
          "id": "30-5",
          "name": "Книги",
          "url": "/"
        },
        {
          "id": "30-6",
          "name": "Журналы",
          "url": "/"
        },
        {
          "id": "30-7",
          "name": "Банкротство: Must Read",
          "url": "/"
        },
        {
          "id": "30-8",
          "name": "Презентации экспертов",
          "url": "/"
        }
     ]
     },
   
    {
      "id": "30",
      "name": "Мероприятия",
      "url": "/"
    },
        {
      "id": "40",
      "name": "Контакты",
      "url": "/",
       "childs": [
        {
          "id": "40-1",
          "name": "Москва",
          "url": "/"
        },
        {
          "id": "40-1",
          "name": "Санкт-Петербург",
          "url": "/"
        },
        {
          "id": "40-1",
          "name": "Красноярск",
          "url": "/"
        },
        {
          "id": "40-1",
          "name": "Южно-Сахалинск",
          "url": "/"
        },
        {
          "id": "40-1",
          "name": "Владивосток",
          "url": "/"
        },
        {
          "id": "40-1",
          "name": "Пекин",
          "url": "/"
        },
        {
          "id": "40-1",
          "name": "Шанхай",
          "url": "/"
        }
      ]
    },
  ];
