// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}


/* stylelint-disable */
// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria-Regular.woff2)format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria-Bold.woff2)format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria-Light.woff2)format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria-Medium.woff2)format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Geometria';
  src: url(/fonts/Geometria-Italic.woff2)format('woff2');
  font-style:italic;
  font-display: swap;
}
html {
  font-size:18px;

  @media(max-width:1920px)and(min-width:1024px){
    font-size:16px;
  } 

  @media(max-width:1024px){
    font-size:14px;
  }

}
body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: 'Geometria';
  font-size: 1rem;
  line-height:130%;
  text-align: left;
  color: #272C3E;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
  outline:none;
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #92278F;
  background-color: transparent;
  transition: color 0.3s;
  text-decoration:none;
  

  &:hover{
    color: #6F196C;
  }
  &:focus {
    color: #92278F;
  }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
  &.solid {
    border-bottom:1px solid #92278F;
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family:'Geometria';
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;

  & span {
    font-weight:300;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { 
  margin-bottom:40px;
  font-size:32px;
  text-transform: uppercase;
  font-weight:500;
  position:relative;
  & span {
    display: block;
    font-size:25px;
  }
  @media(max-width:600px){
    font-size:26px;
    & span {
      font-size:22px;
    }
  }
}

.width-gradient {
  position:relative;

  &:before {
    content: '';
    position:absolute;
    background: #BFDBFF;
    filter: blur(50px);
    transform: translate(-40px, -40px);
    width:140px;
    height:115px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &:after {
  content: '';
  position:absolute;
  background: #ECC7EB;
  width:135px;
  height:113px;
  filter: blur(50px);
  transform: translate(30px, 0px);
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; 
  }
}
.gradient-blue {

} 
.gradient-rose {


}
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5rem;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: 'Geometria';
}

code {
  padding: 0.06rem 0.3rem;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06rem 0.3rem;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
.text-center {
  text-align:center;
}
.row {
  @include row(
    $xs-grid-gutter:  0, 
    $sm-grid-gutter:  0,  
    $md-grid-gutter:  20,
    $xl-grid-gutter:  30, 
  );
}
.container {
  @include container();
  max-width:1530px;
}
.col{
@include col();
}
.col-2{
  @include col(xs, 2);
  }
  .col-6{
    @include col(xs, 6,  $grid-columns, 10px );
    }
.col-xs-6 {
  @include col(xs, 6, $grid-columns, 10px);
}
.col-sm-6 {
  @include col(sm, 6, $grid-columns, 10px);
}
.col-sm-4 {
  @include col(sm, 4, $grid-columns, 10px);
}
.col-md-12 {
  @include col(md, 12, $grid-columns, 12px);
}
.col-md-11 {
  @include col(md, 11, $grid-columns, 12px);
}
.col-md-10 {
  @include col(md, 10, $grid-columns, 12px);
}
.col-md-9 {
  @include col(md, 9, $grid-columns, 12px);
}
.col-md-8 {
  @include col(md, 8, $grid-columns, 12px);
}
.col-md-7 {
  @include col(md, 7, $grid-columns, 12px);
}
.col-md-6 {
  @include col(md, 6, $grid-columns, 12px);
}
.col-md-5 {
  @include col(md, 5, $grid-columns, 12px);
}
.col-md-4 {
  @include col(md, 4, $grid-columns, 12px);
}
.col-md-3 {
  @include col(md, 3, $grid-columns, 12px);
}
.col-md-2 {
  @include col(md, 2, $grid-columns, 12px);
}
.col-md-1 {
  @include col(md, 1, $grid-columns, 12px);
}
.col-lg-12 {
  @include col(lg, 12, $grid-columns, 16px);
}
.col-lg-11 {
  @include col(lg, 11, $grid-columns, 16px);
}
.col-lg-10 {
  @include col(lg, 10, $grid-columns, 16px);
}
.col-lg-9 {
  @include col(lg, 9, $grid-columns, 16px);
}
.col-lg-8 {
  @include col(lg, 8, $grid-columns, 16px);
}
.col-lg-7 {
  @include col(lg, 7, $grid-columns, 16px);
}
.col-lg-6 {
  @include col(lg, 6, $grid-columns, 16px);
}
.col-lg-5 {
  @include col(lg, 5, $grid-columns, 16px);
}
.col-lg-4 {
  @include col(lg, 4, $grid-columns, 16px);
}
.col-lg-3 {
  @include col(lg, 3, $grid-columns, 16px);
}
.col-lg-2 {
  @include col(lg, 2, $grid-columns, 16px);
}
.col-lg-1 {
  @include col(lg, 1, $grid-columns, 16px);
}
.col-xl-12 {
  @include col(xl, 12, $grid-columns, 26px);
}
.col-xl-11 {
  @include col(xl, 11, $grid-columns, 26px);
}
.col-xl-10 {
  @include col(xl, 10, $grid-columns, 26px);
}
.col-xl-9 {
  @include col(xl, 9, $grid-columns, 26px);
}
.col-xl-8 {
  @include col(xl, 8, $grid-columns, 26px);
}
.col-xl-7 {
  @include col(xl, 7, $grid-columns, 26px);
}
.col-xl-6 {
  @include col(xl, 6, $grid-columns, 26px);
}
.col-xl-5 {
  @include col(xl, 5, $grid-columns, 26px);
}
.col-xl-4 {
  @include col(xl, 4, $grid-columns, 26px);
}
.col-xl-3 {
  @include col(xxl, 3, $grid-columns, 26px);
}
.col-xl-2 {
  @include col(xxl, 2, $grid-columns, 26px);
}
.col-xl-1 {
  @include col(xl, 1, $grid-columns, 26px);
}
.col-xxl-12 {
  @include col(xxl, 12, $grid-columns, 30px);
}
.col-xxl-11 {
  @include col(xxl, 11, $grid-columns, 30px);
}
.col-xxl-10 {
  @include col(xxl, 10, $grid-columns, 30px);
}
.col-xxl-9 {
  @include col(xxl, 9, $grid-columns, 30px);
}
.col-xxl-8 {
  @include col(xxl, 8, $grid-columns, 30px);
}
.col-xxl-7 {
  @include col(xxl, 7, $grid-columns, 30px);
}
.col-xxl-6 {
  @include col(xxl, 6, $grid-columns, 30px);
}
.col-xxl-5 {
  @include col(xxl, 5, $grid-columns, 30px);
}
.col-xxl-4 {
  @include col(xxl, 4, $grid-columns, 30px);
}
.col-xxl-3 {
  @include col(xxl, 3, $grid-columns, 30px);
}
.col-xxl-2 {
  @include col(xxl, 2, $grid-columns, 30px);
}
.col-xxl-1 {
  @include col(xxl, 1, $grid-columns, 30px);
}
.offset-md-2{
 @include col-offset(md, 2, 12)
}

.offset-lg-2{
  @include col-offset(lg, 2, 12)
 }
 .offset-xl-1{
  @include col-offset(xl, 1, 12)
 }
 .offset-xl-2{
  @include col-offset(xl, 2, 12)
 }
 .offset-xxl-1{
  @include col-offset(xxl, 1, 12)
 }
 .offset-xxl-2{
  @include col-offset(xxl, 2, 12)
 }
 .not-authorized {
  display:block;
}
  .authorized {
    display:none;
  }
//баннер
 .banner {
   position:relative;
   overflow:hidden;
   width:100%;
   min-height:600px;
   background-image:url('../img/bg.svg');
   background-size:cover;
   background-position:center;
   margin-top:-55px;
   display:flex;
   @media(max-width:1024px){
    min-height:400px;
   }
   @media(max-width:600px){
    margin-top:-10px;
    min-height:100vh;
   }

   &__inner {
     @include container();
     min-height:100%;
     max-width:1530px;
   }
   &__row {
    display:flex;
    min-height:100%;
    padding-left:25px;
   }
   & .animate {
    position: absolute;
    left: 40%;
    width:80%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width:1135px;
    z-index:0;
    @media(max-width:1300px){ 
    left: 50%;
    width: 60%;
    }
    @media(max-width:600px){
      display:none;
    }
   }
 }



//dropdown

.dropdown {
  background-color: #fff;
  transition: all .5s ease;
  position: relative;
  height: 100%;
  text-align: left;
  outline:none; 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.353553' y1='0.646447' x2='6.35355' y2='6.64645' stroke='%2392278F'/%3E%3Cline y1='-0.5' x2='8.48528' y2='-0.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 12 1)' stroke='%2392278F'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: right 22px top 22px;
    margin-bottom:20px;

    &.active {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='11.6464' y1='6.35355' x2='5.64645' y2='0.353553' stroke='%2392278F'/%3E%3Cline y1='-0.5' x2='8.48528' y2='-0.5' transform='matrix(0.707107 -0.707107 -0.707107 -0.707107 0 6)' stroke='%2392278F'/%3E%3C/svg%3E");

    }

    & input {
      padding: 0 15px;
      margin: 0 15px;
      width: calc(100% - 30px);
      background-color: #f5f7fa;
      border: 0px;
      line-height:3rem;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='13.0607' y1='13' x2='17' y2='16.9393' stroke='%23272C3E' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='7.5' cy='7.5' r='6.75' stroke='%23272C3E' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
      background-repeat:no-repeat;
      background-position: right 15px center;
      transition:all 0.3s linear;
      position:relative;
      &:focus, &.active {
        background-image:none;
      }
    }

    &__close {
    position:absolute;
    width:20px;
    height:10px;
    right: 25px;
    top: 30px;
    transform:rotate(45deg);
    border-bottom:1px solid #92278F;
    display:none;
    &:after {
      content:'';
      position:absolute;
      left:-10px;
      top:0;
      width:20px;
      height:20px;
      border-bottom:1px solid #92278F;
      transform:rotate(-90deg);
    }
    &:hover {
      cursor:pointer;
    }
    &.active {
      display:block;
    }
    }
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 15px;
    color: #838B98;


}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 10px;
    overflow: hidden;
    padding-top:1rem;
    display: none;
    overflow-y: auto;
    z-index: 9;
    box-shadow: 0px 4px 15px rgba(180, 180, 180, 0.25);
}
.dropdown .dropdown-menu ul{
  max-height:232px;
  overflow-y: scroll;
  scrollbar-width: thin;          
  scrollbar-color: #92278F #F5F7FA;  
}
.dropdown-menu ul::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

.dropdown-menu ul::-webkit-scrollbar-track {
  background: #F5F7FA;        /* color of the tracking area */
}

.dropdown-menu ul::-webkit-scrollbar-thumb {
  background-color: #92278F;    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: 7px solid #92278F;  /* creates padding around scroll thumb */
}

.dropdown .dropdown-menu ul li {
    padding: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu ul{
    padding: 0;
    list-style: none
}

//servise  
.section-servise {
  margin-top:100px;
  @media(max-width:768px){
    margin-top:30px;
  }
  @media(max-width:600px){
    & .row {
      margin-left:-15px;
      margin-right:-15px;
    }
  }

}
.servise-form {
  background-color:#F5F7FA;
  padding:25px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media(max-width:600px){
    min-height:100px;
    margin-bottom:30px;
  }

  &__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
 
  }

  &__link {
    color: #838B98;
  }
  &__tags {
    display:flex;
    flex-wrap:wrap;
    margin-bottom:5px;
  }
  &__tag {
    display:block;
    padding:5px;
    border:1px solid #838B98;
    margin-right:20px;
    margin-bottom:20px; 
    color: #838B98;

    &:hover {
      color: #6F196C;
      border-color: #6F196C;
    }
  }
  &__readmore {
    position:relative;
    margin-top:5px;

    &:after {
      position:absolute;
      right:-35px;
      content:" ";
      width:25px;
      height:100%;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM0 4.5H25V3.5H0V4.5Z' fill='%2392278F'/%3E%3C/svg%3E");
      background-repeat:no-repeat;
      background-position: right center;
    }
    &:hover {
      color: #6F196C;
      border-bottom-color: #6F196C;
      &:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM0 4.5H25V3.5H0V4.5Z' fill='%236F196C'/%3E%3C/svg%3E");
      }
    }
  }
}
//victory
.section__victory {
  margin-top:100px;
  @media(max-width:768px){
    margin-top:30px;
  }
  & .btn {
    background-color: #92278F;
    color:#ffffff;
    margin-top:30px;
    padding:15px 60px;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: #6F196C;
    }
    @media(max-width:350px){
      display:block;
      padding:15px 0;
      width:100%;
      margin-left:-15px;
      margin-right:-15px;
      width: calc(100% + 30px);
      min-width: calc(100% + 30px);
    }
  }
}
.victory-card {
  display:flex;
  min-height:100%;
  padding:1px;
 background-image: linear-gradient(261deg, rgba(168, 51, 168, 0.4)20%,rgba(168, 51, 168, 0.3)40%,  rgba(127, 166, 216, 0.6)70%,  rgba(127, 166, 216, 0.4)100%);;
@media(max-width:768px){
  min-height: calc(100% - 1rem);
  margin-bottom:1rem;
}
 &__wrapper {
   padding:25px;
   background-color: #ffffff;
   min-height:100%;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   position:relative;

 }
 &__content {
   margin-top:5px;
   margin-bottom:100px;
   @media(max-width:600px){
     margin-bottom:30px;
   }
 }

 &__footer {
   & a {
     color:#838B98;
     border-color: #838B98;
     &:hover {
      color: #92278F;
      border-bottom-color: #92278F;
    }
    &:focus, &:active {
      color: #6F196C;
      border-bottom-color: #6F196C;
    }
   }
 }
}
/*счетчик*/
.block-counter {
  margin-top:100px;
  @media(max-width:768px){
    margin-top:30px;
  }
}
.counter {

  @media(max-width:768px){
    margin-top:2rem;
  }
  &__numbers {
    font-size:45px;
    line-height:59px;
    font-weight:500;
    color: #ECC7EB;
    margin-bottom:15px;
    @media(max-width:600px){
      font-size:35px;
    }
  }

}
.map-container {
position:relative;
display:block;
min-height:100%;
@media(max-width:600px){
margin-top:20px;
}

&:after {
  content:'';
  position:absolute;
  top:30%;
  left:30%;
  width:20px;
  height:20px;
  background-color:rgba(146, 39, 143, 0);
  border-radius:50%;
  animation: pulse-black 4s infinite;
  @media(max-width:600px){
    top:20%;
    left:50%;
  }
}
@keyframes pulse-black {
  0% {
    transform: scale(0);
    box-shadow: 0 0 0 0 rgba(146, 39, 143, 0.385);
  }
  
  90% {
    transform: scale(3);
    box-shadow: 0 0 0 40px rgba(146, 39, 143, 0);
  }
  
  100% {
    transform: scale(0);
    box-shadow: 0 0 0 0 rgba(146, 39, 143, 0);
  }
}
& svg {
  position:absolute;
  right:0;
  width:140%;
  height:auto;
  transition:all 0.5s linear;
  @media(max-width:768px)and(min-width:600px){
    width:120%;
    margin-top:2rem;
  }
  @media(max-width:600px){
    width:100%;
    position:relative;
  }
  }

  & span {
    display: block;
    position: absolute;
    z-index: 15;
    background-color: #F5F7FA;
    color: #838B98;
    font-size: 0.8rem;
    padding: 5px;
    top: 10%;
    opacity:0;
    transition:all 0.5s linear;
  }
  .st0{fill:#FFFFFF;}
  .st1{fill:#FDFEFE;}
  .st2{fill:#561453;}
  .st4{fill:#0BF4F4;}
  .st5{fill:#92278F;}
  .st6{fill:#951B81;}
  .st7{fill:#FFFFFF;stroke:#D871D8;stroke-miterlimit:10;}
  &:hover {
      & svg {
        transform: scale(1.6);
      -webkit-filter: drop-shadow(0 0 11px rgba(146, 39, 143, 0.685));      
      filter: drop-shadow(0 0 11px rgba(146, 39, 143, 0.685));  
      }
      & span {
        opacity:1;
      }
  &:after {
    display:none;
  }
  }
}
// блок рейтинга

.block-rete {
margin-top: 35px;
position:relative;
max-width:100%; 
overflow:hidden;
height:250px;

&:before {
  content: '';
    position: absolute;
    background: #bfdbff;
    filter: blur(50px);
    transform: translate(-20px,-20px);
    width: 70%;
    height: 50px;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
  &:after {
    content: '';
    position: absolute;
    background: #ecc7eb;
    width: 50%;
    height: 50px;
    filter: blur(50px);
    transform: translate(35%, 10px);
    top:120px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }


& h3 {
  text-transform: none;
  color:#92278F;
  font-size:1.1rem;
}
&__list {
  position: relative;
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  padding:0;
  margin:0;
  padding-bottom:20px;
  overflow-x:scroll;
  scrollbar-width: thin;          
  scrollbar-color: #92278F #F5F7FA;  

&::-webkit-scrollbar {
  width: 4px; 
  border-radius:4px;             
}

&::-webkit-scrollbar-track {
  background: #F5F7FA; 
  border-radius:4px;     
}

&::-webkit-scrollbar-thumb {
  background-color: #92278F;  
  border-radius: 0px;       
  border: 2px solid #92278F; 
  border-radius:4px;
}
  
   & li {
     list-style: none;
     text-align: center;
     min-width:10.5vw;
     @media(max-width:1024px)and(min-width:768px){
       min-width:13.5vw;
     }
     @media(max-width:768px)and(min-width:600px){
       min-width:140px;
     }
     @media(max-width:600px){
      min-width:33%;
     }

     & img {
       width:100px;
       height:100px;
       position: relative;
       z-index: 5;
  }
   & p {
     margin-top:15px;
     color: #838B98;
   }
   }

  }
}
// блок мероприятий
.section-events {
  margin-top:100px;
  padding-top:100px;
  padding-bottom:100px;
  background-color:#F5F7FA;
  @media(max-width:768px){
    margin-top:50px;
    padding-top:50px;
    padding-bottom:50px;
  }
  & .btn {
    background-color: #92278F;
    color:#ffffff;
    margin-top:30px;
    padding:15px 60px;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: #6F196C;
      
    }
    @media(max-width:350px){
      display:block;
      padding:15px 0;
      width:100%;
      margin-left:-15px;
      margin-right:-15px;
      width: calc(100% + 30px);
      min-width: calc(100% + 30px);
    }
  }
}

.event-card {
  display:flex;
  min-height:100%;
  padding:1px;
  background-image: linear-gradient(261deg, rgba(168, 51, 168, 0.4)20%,rgba(168, 51, 168, 0.3)40%,  rgba(127, 166, 216, 0.6)70%,  rgba(127, 166, 216, 0.4)100%);
  margin: 0 1rem;
  @media(max-width:600px){
    margin:0 1px;
  }


  &__wrapper {
  padding:25px;
  background-color: #ffffff;
  min-height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
  }

  &__header {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    @media(max-width:350px){
      align-items: center; 
    }
  }
  &__date {
    font-size:20px;
    text-transform: uppercase;
    font-weight:300;
    @media(max-width:350px){
      font-size: 16px;
    }
  }
  & .label {
    font-weight:400;
    white-space: nowrap;
  }
  &__content {
    font-weight:500;
    margin-top:20px;
    flex-grow: 1;
  }
  &__footer {
    margin-top:15px;

    & a {
      color: #838B98;
      padding-bottom:3px;
      border-bottom: 1px solid #838B98;
      &:hover {
        color: #92278F;
        border-bottom: 1px solid #92278F;
      }
      &:focus, &:active {
        color: #6F196C;
        border-bottom: 1px solid #6F196C;
      }
    }
  }
    &:first-child{
      margin-left:0;
    }
  &__avtor {
    color: #838B98;
    margin-bottom: 15px;
  }
  &__price {
    color: #838B98;
  }
  &--news {
    min-width:300px;
    width:33%;
    background-image: none;
    @media(max-width:1024px)and(min-width:600px){
      min-width: 30%;
      width:30%;
    }
    @media(max-width:600px){
      min-width: 100%;
      width:100%;
      min-height: 50px;
      margin:0.8rem 0;
    }
   &:last-child{
      margin-right:0;
    }
    & .event-card__wrapper {
    background-color: #F5F7FA;
    width:100%;
    }

    & .label {
      background-color:#ffffff;
    }
    & .event-card__content {
      font-weight:400;
      line-height: 150%;
    }
  }
  &--video {
    width:25%;
    background-image: none;
    @media(max-width:1024px)and(min-width:768px){
      min-width: 22%;
      width:20%;
    }

    @media(max-width:768px)and(min-width:600px){
      min-width: 50%;
      width:50%;
      min-height: 100px;
      margin-bottom:1rem;
      margin-left:0;
      margin-right:0;
    }
    @media(max-width:600px){
      min-width:100%;
      width:100%;
      min-height: 100px;
      margin: 0.5rem 0;
    }

    & .event-card__perw {
      & img {
        width:100%;
      }
    }
    & .event-card__wrapper {
      padding:0;
      @media(max-width:768px){
        width:100%;
        padding-right:1rem;
      }
      }
    & .event-card__content {
      margin-top:15px;
      }
    & a {
      color: #272C3E;
      &:hover {
        color: #92278F;
      }
      &:focus, &:active {
        color: #6F196C;
      }
    }
  }
  &--book {
    width:25%;
    background-image: none;
    @media(max-width:1024px)and(min-width:768px){
      min-width: 22%;
      width:20%;
    }

    @media(max-width:768px){
      min-width: 50%;
      width:50%;
      min-height: 100px;
      margin-bottom:1rem;
      margin-left:0;
      margin-right:0;
    }
    
    & .event-card__wrapper {
      padding:0;
      }
      & .event-card__perw {
          height:200px;
          & img {
            max-height:200px;
          }
      }
    & .event-card__content {
      margin-top:15px;
      }
    & a {
      color: #272C3E;
      &:hover {
        color: #92278F;
      }
      &:focus, &:active {
        color: #6F196C;
      }
    }
  }
}

// блок новости и аналитика
.section-news {
  margin-top:100px;
  @media(max-width:768px){
    margin-top:50px;
  }
  
  & .btn {
    background-color: #92278F;
    color:#ffffff;
    margin-top:0px;
    padding:15px 60px;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: #6F196C;
    }
    @media(max-width:350px){
      display:block;
      padding:15px 0;
    }
  }
}
// анимация
.animation.animate, .animation1.animate, .animation2.animate{
  animation: puls 2s 1;
}
@keyframes puls {
  0% {
    transform: scale(0.5);
  }
  
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(146, 39, 143, 0);
  }
} 
