//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    #search-fixed.page-header__search-panel 
      .page-header__inner
        h4 Поиск по сайту
        form(action="/search/" method="get")
          .row
            .col-xxl-5.col-xl-5.col-md-6
              input(type="text" name="q" placeholder="Введите поисковый запрос")
            .col-xxl-2.col-xl-2.col-md-2
              input(type="submit" value="Найти")
        a#search-close.page-header__search-close.solid(href="#") Закрыть
    .page-header__inner
      .page-header__row
        .page-header__left-part 
          ul.page-header__list
            li
              a(href="tel:+74957670007" aria-label="позвонить" ) +7 (495) 767-00-07
            li
              a(href="mailto:info@pgplaw.ru" aria-label="написать") info@pgplaw.ru
        +logo('/')
          img(src='img/logo.svg', alt='Logo', width='126', height='36')
        .page-header__right-part 
          ul.page-header__list
            li 
              a#search-open.page-header__search-link(href="#" aria-label="поиск") Поиск
 
            li.page-header__launguage-link
              a(href="#" aria-label="выбрать язык")
                span Ru
              #launguage-panel.launguage-panel 
                ul 
                  li
                    a(href="#" aria-label="English")
                      span English	 
                  li
                    a(href="#" aria-label="中文")
                      span 中文 
                  li
                    a(href="#" aria-label="한국어")
                    span 한국어
                  li
                    a(href="#" aria-label="Deutsch")
                      span Deutsch	
                  li
                    a(href="#" aria-label="Italiano")
                      span Italiano
                  li
                    a(href="#" aria-label="Español")
                      span Español
                  li
                    a(href="#" aria-label="Français")
                      span Français
                  li
                    a(href="#" aria-label="日本語")
                      span 日本語
                  li
                    a(href="#" aria-label="Português")
                      span Português
                  li
                    a(href="#" aria-label="Türkçe")
                      span Türkçe
            li 
              a.page-header__authorize-link.not-authorized(href="#login" data-toggle='modal' data-target='#login' aria-label="войти") Вoйти
              #lk.page-header__authorize-link.authorized(href="#" aria-label="Личный кабинет") Личный кабинет
                .user-panel 
                  ul
                    li 
                      a(href="#" aria-label="Личный кабинет") Личный кабинет
                    li
                      a(href="#" aria-label="Выход") Выйти
        +burger('Показать содержание', 'nav', 'main-nav--open')(class='main-nav__toggler')
        block nav
          +main-nav('10')

      block
