// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
    color:#272C3E;
    padding-top:1rem;
    font-size: 1.07rem;

    &__inner {
        @include container();
        position:relative;
    }
    &__row {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    & a {
        color: #272C3E;
        font-size:1.07rem;
        &.page-header__search-close {
            position: absolute;
            right: 0;
            top: 0.3rem;
            font-size:1rem;
            color:#92278F; 
        }

        &:hover {
            color:#92278F;   
        }

        &:focus {
            color:#6F196C;
        }
    }
    &__list{
        display:flex;
        padding:0;
        margin:0;

        & li {
            position:relative;
            list-style:none;
            padding:0 1.8rem;
        }
    }
    &__right-part {
        & .launguage-panel, & .user-panel  {
            position:absolute;
            left: -10%;
            width:150%;
            max-height:0px;
            overflow:hidden;
            top:120%;
            background-color:#F5F7FA;
            transition: all 0.3s linear;
            z-index:50;
            & ul {
                flex-direction: column;
                padding:7px 0;

                & li {
                  padding: 7px 7px 7px 15px;

                  &:hover {
                    & a {
                      color: #92278f;
                    }
                  }
                }
            }

            &.open {max-height:400px;}
        }
    }
    & .main-nav {
        margin-top:14.5px;

         
        &__item {
            padding:25px 20px 10px;   
            transition: 0.3s;
            & a {
            background-color:transparent;
            font-size:1.1rem;
            padding:0;
            }
            &:hover {
                background-color:#F5F7FA;
                & a.main-nav__link--lvl-1 {
                    color: #92278f;
                }
            }
            &--lvl-2 {
            padding:10px 25px;
            background-color: transparent;
            &:hover {
                background-color: transparent;
                & a {
                    color: #92278f;
                }
            }
            }
            &--has-child {
            padding:25px 25px 10px 20px;   
                
                &:after {
                    content:'';
                    position:absolute;
                    top: 58%;
                    right:5px;
                    width:12px;
                    height:7px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.353553' y1='0.646447' x2='6.35355' y2='6.64645' stroke='%23272C3E'/%3E%3Cline y1='-0.5' x2='8.48528' y2='-0.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 12 1)' stroke='%23272C3E'/%3E%3C/svg%3E");
                    transition:0.3s;
                }
                &:hover {

                    &:after {
                        transform:rotate(180deg);
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.353553' y1='0.646447' x2='6.35355' y2='6.64645' stroke='%23272C3E'/%3E%3Cline y1='-0.5' x2='8.48528' y2='-0.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 12 1)' stroke='%23272C3E'/%3E%3C/svg%3E");

                        }
                }
            }
        }
        &__sublist-wrapper--lvl-2 {
            background-color: #F5F7FA;
            width: 200%;
            max-height:0;
            overflow:hidden;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                content: " ";
                display: block;
                height: 1px;
                background-color: #92278f;
            }
        }
    }
    &__search-link {
        padding-left:27px;
        position:relative;
        &:before {
            display:inline-block;
            position:absolute;
            left:0;
            content:'';
            width:17px;
            height:18px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='13.0607' y1='13' x2='17' y2='16.9393' stroke='%23272C3E' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='7.5' cy='7.5' r='6.75' stroke='%23272C3E' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: left center;

        }
        &.active, &:hover {
            color:#92278F;
            &:before {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='13.0607' y1='13' x2='17' y2='16.9393' stroke='%2392278F' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='7.5' cy='7.5' r='6.75' stroke='%2392278F' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E"); 
                background-size: 90%;
                background-repeat: no-repeat;
                background-position: left center; 
            }
        }
    }
    &__authorize-link{
        &.not-authorized{
        padding-left: 28px;
        position:relative;
            &:before {
                content:'';
                position:absolute;
                left:0;
                width:18px;
                height:100%;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.593723 0H8.90615C9.23391 0 9.49988 0.266019 9.49988 0.593731C9.49988 0.921442 9.23386 1.18746 8.90615 1.18746H1.18745V17.8123H8.90615C9.23391 17.8123 9.49988 18.0783 9.49988 18.406C9.49988 18.7338 9.23386 18.9998 8.90615 18.9998H0.593723C0.265962 18.9998 -7.62939e-06 18.7338 -7.62939e-06 18.406V0.593731C-5.72205e-05 0.266019 0.265962 0 0.593723 0Z' fill='%23272C3E'/%3E%3Cpath d='M14.0236 13.0313C13.8202 13.2532 13.8202 13.6122 14.0236 13.8336C14.2269 14.0555 14.5561 14.0555 14.759 13.8336L18.347 9.90132C18.5472 9.68275 18.5493 9.31699 18.347 9.09847L14.7584 5.16623C14.5551 4.94431 14.2259 4.94487 14.023 5.16623C13.8197 5.3876 13.8197 5.74715 14.023 5.96851L16.7275 8.93217H6.01799C5.73094 8.93217 5.49792 9.18609 5.49792 9.49959C5.49792 9.8131 5.73094 10.0671 6.01799 10.0671H16.7279L14.0236 13.0313Z' fill='%23272C3E'/%3E%3C/svg%3E");
                background-repeat:no-repeat;
                background-position: left center;
                background-size: 90%;
            }
            &:hover {
                &:before {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.593723 0H8.90615C9.23391 0 9.49988 0.266019 9.49988 0.593731C9.49988 0.921442 9.23386 1.18746 8.90615 1.18746H1.18745V17.8123H8.90615C9.23391 17.8123 9.49988 18.0783 9.49988 18.406C9.49988 18.7338 9.23386 18.9998 8.90615 18.9998H0.593723C0.265962 18.9998 -7.62939e-06 18.7338 -7.62939e-06 18.406V0.593731C-5.72205e-05 0.266019 0.265962 0 0.593723 0Z' fill='%2392278F'/%3E%3Cpath d='M14.0236 13.0313C13.8202 13.2532 13.8202 13.6122 14.0236 13.8336C14.2269 14.0555 14.5561 14.0555 14.759 13.8336L18.347 9.90132C18.5472 9.68275 18.5493 9.31699 18.347 9.09847L14.7584 5.16623C14.5551 4.94431 14.2259 4.94487 14.023 5.16623C13.8197 5.3876 13.8197 5.74715 14.023 5.96851L16.7275 8.93217H6.01799C5.73094 8.93217 5.49792 9.18609 5.49792 9.49959C5.49792 9.8131 5.73094 10.0671 6.01799 10.0671H16.7279L14.0236 13.0313Z' fill='%2392278F'/%3E%3C/svg%3E");
                    background-repeat:no-repeat;
                    background-position: left center;
                    background-size: 90%;
                }
            }
        }
    }
    &__launguage-link,  #lk {
        position:relative;
        transition:all 0.3s linear;
        &:before {
            display:inline-block;
            position:absolute;
            content:'';
            width:17px;
            height:100%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.353553' y1='0.646447' x2='6.35355' y2='6.64645' stroke='%23272C3E'/%3E%3Cline y1='-0.5' x2='8.48528' y2='-0.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 12 1)' stroke='%23272C3E'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            transition:all 0.3s linear;
        }
        &.active {
            color:#92278F;
            transition:all 0.3s linear;
            &:before {
                transform: rotate(180deg);
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.353553' y1='0.646447' x2='6.35355' y2='6.64645' stroke='%2392278F'/%3E%3Cline y1='-0.5' x2='8.48528' y2='-0.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 12 1)' stroke='%2392278F'/%3E%3C/svg%3E");
                transition:all 0.3s linear;

            } 
        }
        &:hover {
            cursor:pointer;
        }
    }
    &__launguage-link {
        padding-right:calc(1.8rem +17px);
        &:before {
            right:0;
        }
    }
    & #lk {
        &:before {
            right:-25px;
        }
    }
    &__search-panel {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        overflow:hidden;
        max-height:0;
        width: 100%;
        z-index: 99999;
        transition: all 0.3s linear;

        & form {
            margin-bottom:1rem;

            & input{
                line-height:3rem;
                background-color: #F5F7FA;
                border:0px;
                outline:none;
                width:100%;
                padding:0 15px;
                border: 1px solid transparent;

                &:focus {
                    border: 1px solid rgba(131, 139, 152, 0.19);
                }

                &[type=submit] {
                    background-color: #92278F;  
                    color:#ffffff;  
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='13.0607' y1='13' x2='17' y2='16.9393' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='7.5' cy='7.5' r='6.75' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: left 3.5rem center;
                    cursor:pointer;

                    &:hover, &:active, &:focus {
                        background-color:#6F196C;
                    }

                }
            }
        }

        & h4 {
            margin: 1rem 0;
            font-size: 1.5rem;
            font-weight:500;
            color: #272C3E;
            text-transform: uppercase;
        }

        &.open {
            max-height:200px;
            transition:all 0.3s linear;
        }
    }       

}
