// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  width:100%;
  overflow:hidden;

  &__links {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: 0;
    margin-bottom:30px;
    padding: 0;
    list-style: none;
    color:#838B98;
    @media(max-width:600px){
      overflow-y: scroll;
      padding-bottom: 10px;
      scrollbar-width: thin;          
      scrollbar-color: #92278F #F5F7FA;  
    }
    
    .dropdown-menu ul::-webkit-scrollbar-track {
      background: #F5F7FA;        /* color of the tracking area */
    }
    
    .dropdown-menu ul::-webkit-scrollbar-thumb {
      background-color: #92278F;    /* color of the scroll thumb */
    }

    &:after {
      content: '';
      display: none;
      flex-grow: 1;
      height: 1px;
      background-color: transparent;

      @media (min-width: $screen-md) {
        display: block;
      }
    }

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;
    margin: 0 0.3em 0.3em 0;
    border-bottom: 3px solid transparent;
    transition:all 0.3s linear;

    @media (min-width: $screen-md) {
      margin: 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &--active {
      color: #92278F;
        border-bottom: 3px solid #92278F;
      @media (min-width: $screen-md) {

      }

      #{$block-name}__link {

      }
    }
  }

  &__link {
    display: block;
    padding:5px 20px;
    color: currentColor;
    text-decoration: none;
    white-space: nowrap;


    &:hover{
      color: #92278F;
    }
    &:focus {
      color: #6F196C;
    }
  }

  &__content-wrapper {
    display: block;
   
    padding: 0;

    @media (min-width: $screen-md) {
      border-top: none;
    }
  }

  &__content-item {

    .js & {
     height:0;
     overflow:hidden;
    }

    & > *:last-child { // stylelint-disable-line  selector-combinator-blacklist
      margin-bottom: 0;
    }

    &--active {

      .js & {
        height:auto;
      }
    }
  }
}
