// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0;
    margin-bottom:30px;
    padding: 0;
    list-style: none;
    color:#838B98;

    &:after {
      content: '';
      display: none;
      flex-grow: 1;
      height: 1px;
      background-color: transparent;

      @media (min-width: $screen-md) {
        display: block;
      }
    }

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;
    margin: 0 0.3em 0.3em 0;
    border-bottom: 3px solid transparent;
    transition:all 0.3s linear;

    @media (min-width: $screen-md) {
      margin: 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &--active {
      color: #92278F;

      @media (min-width: $screen-md) {
        border-bottom: 3px solid #92278F;
      }

      #{$block-name}__link {

      }
    }
  }

  &__link {
    display: block;
    padding:5px 20px;
    color: currentColor;
    text-decoration: none;


    &:hover,
     {
      color: #92278F;
    }
    &:focus {
      color: #6F196C;
    }
  }

  &__content-wrapper {
    display: block;
   
    padding: 0;

    @media (min-width: $screen-md) {
      border-top: none;
    }
  }

  &__content-item {

    .js & {
      display: none;
    }

    & > *:last-child { // stylelint-disable-line  selector-combinator-blacklist
      margin-bottom: 0;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }
}
